# flyctl launch added from .gitignore
**/log
**/node_modules
**/tmp
**/public/packs

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/bcrypt-3.1.18/.gitignore
vendor/bundle/ruby/3.2.0/gems/bcrypt-3.1.18/**/doc
vendor/bundle/ruby/3.2.0/gems/bcrypt-3.1.18/**/pkg
vendor/bundle/ruby/3.2.0/gems/bcrypt-3.1.18/**/tmp
vendor/bundle/ruby/3.2.0/gems/bcrypt-3.1.18/**/*.o
vendor/bundle/ruby/3.2.0/gems/bcrypt-3.1.18/**/*.bundle
vendor/bundle/ruby/3.2.0/gems/bcrypt-3.1.18/**/*.so
vendor/bundle/ruby/3.2.0/gems/bcrypt-3.1.18/**/*.jar
vendor/bundle/ruby/3.2.0/gems/bcrypt-3.1.18/**/.DS_Store
vendor/bundle/ruby/3.2.0/gems/bcrypt-3.1.18/**/.rbenv-gemsets
vendor/bundle/ruby/3.2.0/gems/bcrypt-3.1.18/**/Gemfile.lock

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/bindex-0.8.1/.gitignore
vendor/bundle/ruby/3.2.0/gems/bindex-0.8.1/.bundle
vendor/bundle/ruby/3.2.0/gems/bindex-0.8.1/.yardoc
vendor/bundle/ruby/3.2.0/gems/bindex-0.8.1/Gemfile.lock
vendor/bundle/ruby/3.2.0/gems/bindex-0.8.1/_yardoc
vendor/bundle/ruby/3.2.0/gems/bindex-0.8.1/coverage
vendor/bundle/ruby/3.2.0/gems/bindex-0.8.1/doc
vendor/bundle/ruby/3.2.0/gems/bindex-0.8.1/pkg
vendor/bundle/ruby/3.2.0/gems/bindex-0.8.1/spec/reports
vendor/bundle/ruby/3.2.0/gems/bindex-0.8.1/tmp
vendor/bundle/ruby/3.2.0/gems/bindex-0.8.1/**/*.bundle
vendor/bundle/ruby/3.2.0/gems/bindex-0.8.1/**/*.so
vendor/bundle/ruby/3.2.0/gems/bindex-0.8.1/**/*.o
vendor/bundle/ruby/3.2.0/gems/bindex-0.8.1/**/*.a
vendor/bundle/ruby/3.2.0/gems/bindex-0.8.1/**/.ycm_extra_conf.py*
vendor/bundle/ruby/3.2.0/gems/bindex-0.8.1/**/mkmf.log

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/bullet-7.0.7/.gitignore
vendor/bundle/ruby/3.2.0/gems/bullet-7.0.7/**/log/**
vendor/bundle/ruby/3.2.0/gems/bullet-7.0.7/**/pkg/**
vendor/bundle/ruby/3.2.0/gems/bullet-7.0.7/**/.DS_Store
vendor/bundle/ruby/3.2.0/gems/bullet-7.0.7/**/lib/.DS_Store
vendor/bundle/ruby/3.2.0/gems/bullet-7.0.7/**/.*.swp
vendor/bundle/ruby/3.2.0/gems/bullet-7.0.7/**/coverage.data
vendor/bundle/ruby/3.2.0/gems/bullet-7.0.7/**/tags
vendor/bundle/ruby/3.2.0/gems/bullet-7.0.7/**/.bundle
vendor/bundle/ruby/3.2.0/gems/bullet-7.0.7/**/*.gem
vendor/bundle/ruby/3.2.0/gems/bullet-7.0.7/**/benchmark_profile*
vendor/bundle/ruby/3.2.0/gems/bullet-7.0.7/nbproject/private
vendor/bundle/ruby/3.2.0/gems/bullet-7.0.7/**/coverage
vendor/bundle/ruby/3.2.0/gems/bullet-7.0.7/**/.coveralls.yml
vendor/bundle/ruby/3.2.0/gems/bullet-7.0.7/**/Gemfile*.lock
vendor/bundle/ruby/3.2.0/gems/bullet-7.0.7/**/.idea

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/.gitignore
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/**/*.gem
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/**/*.rbc
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/.config
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/coverage
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/InstalledFiles
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/pkg
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/spec/reports
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/spec/examples.txt
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/test/tmp
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/test/version_tmp
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/tmp

# Used by dotenv library to load environment variables.
# .env

# Ignore Byebug command history file.
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/**/.byebug_history

## Specific to RubyMotion:
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/**/.dat*
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/**/.repl_history
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/**/build
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/**/*.bridgesupport
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/**/build-iPhoneOS
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/**/build-iPhoneSimulator

## Specific to RubyMotion (use of CocoaPods):
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# vendor/Pods/

## Documentation cache and generated files:
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/.yardoc
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/_yardoc
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/doc
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/rdoc

## Environment normalization:
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/.bundle
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/vendor/bundle
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/lib/bundler/man

# for a library or gem, you might want to ignore these files since the code is
# intended to run in multiple environments; otherwise, check them in:
# Gemfile.lock
# .ruby-version
# .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
vendor/bundle/ruby/3.2.0/gems/code-scanning-rubocop-0.6.1/**/.rvmrc

# Used by RuboCop. Remote config files pulled in from inherit_from directive.
# .rubocop-https?--*

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/crass-1.0.6/.gitignore
vendor/bundle/ruby/3.2.0/gems/crass-1.0.6/**/.yardoc
vendor/bundle/ruby/3.2.0/gems/crass-1.0.6/**/doc
vendor/bundle/ruby/3.2.0/gems/crass-1.0.6/**/pkg
vendor/bundle/ruby/3.2.0/gems/crass-1.0.6/**/.DS_Store
vendor/bundle/ruby/3.2.0/gems/crass-1.0.6/**/Gemfile.lock

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/docile-1.4.0/.gitignore
vendor/bundle/ruby/3.2.0/gems/docile-1.4.0/**/*.gem
vendor/bundle/ruby/3.2.0/gems/docile-1.4.0/**/.bundle
vendor/bundle/ruby/3.2.0/gems/docile-1.4.0/**/Gemfile.lock
vendor/bundle/ruby/3.2.0/gems/docile-1.4.0/**/pkg
vendor/bundle/ruby/3.2.0/gems/docile-1.4.0/**/.idea
vendor/bundle/ruby/3.2.0/gems/docile-1.4.0/**/doc
vendor/bundle/ruby/3.2.0/gems/docile-1.4.0/**/.yardoc
vendor/bundle/ruby/3.2.0/gems/docile-1.4.0/**/coverage
vendor/bundle/ruby/3.2.0/gems/docile-1.4.0/**/vendor
vendor/bundle/ruby/3.2.0/gems/docile-1.4.0/**/.ruby-gemset
vendor/bundle/ruby/3.2.0/gems/docile-1.4.0/**/.ruby-version

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/.gitignore
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/.libs
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/.deps
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/*.o
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/*.lo
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/.dirstamp
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/*.la
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/Makefile
!vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/testsuite/libffi.bhaible/Makefile
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/Makefile.in
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/aclocal.m4
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/compile
!vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/.travis/compile
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/configure
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/depcomp
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/doc/libffi.info
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/*~
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/fficonfig.h.in
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/fficonfig.h
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/include/ffi.h
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/include/ffitarget.h
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/install-sh
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/libffi.pc
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/libtool
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/libtool-ldflags
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/ltmain.sh
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/m4/libtool.m4
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/m4/lt*.m4
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/mdate-sh
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/missing
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/stamp-h1
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/libffi*gz
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/autom4te.cache
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/libffi.xcodeproj/xcuserdata
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/libffi.xcodeproj/project.xcworkspace
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/build_*
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/darwin_*
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/src/arm/trampoline.S
vendor/bundle/ruby/3.2.0/gems/ffi-1.15.5/ext/ffi_c/libffi/**/**/texinfo.tex

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/.gitignore
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/*.gem
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/*.rbc
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/.bundle
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/.config
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/.yardoc
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/Gemfile.lock
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/InstalledFiles
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/_yardoc
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/coverage
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/doc
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/lib/bundler/man
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/pkg
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/rdoc
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/spec/reports
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/test/tmp
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/test/version_tmp
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/tmp
vendor/bundle/ruby/3.2.0/gems/inline_svg-1.9.0/**/.ruby-*

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/mini_mime-1.1.2/.gitignore
vendor/bundle/ruby/3.2.0/gems/mini_mime-1.1.2/.bundle
vendor/bundle/ruby/3.2.0/gems/mini_mime-1.1.2/.yardoc
vendor/bundle/ruby/3.2.0/gems/mini_mime-1.1.2/Gemfile.lock
vendor/bundle/ruby/3.2.0/gems/mini_mime-1.1.2/_yardoc
vendor/bundle/ruby/3.2.0/gems/mini_mime-1.1.2/coverage
vendor/bundle/ruby/3.2.0/gems/mini_mime-1.1.2/doc
vendor/bundle/ruby/3.2.0/gems/mini_mime-1.1.2/pkg
vendor/bundle/ruby/3.2.0/gems/mini_mime-1.1.2/spec/reports
vendor/bundle/ruby/3.2.0/gems/mini_mime-1.1.2/tmp

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/net-imap-0.3.6/.gitignore
vendor/bundle/ruby/3.2.0/gems/net-imap-0.3.6/.bundle
vendor/bundle/ruby/3.2.0/gems/net-imap-0.3.6/.yardoc
vendor/bundle/ruby/3.2.0/gems/net-imap-0.3.6/_yardoc
vendor/bundle/ruby/3.2.0/gems/net-imap-0.3.6/coverage
vendor/bundle/ruby/3.2.0/gems/net-imap-0.3.6/doc
vendor/bundle/ruby/3.2.0/gems/net-imap-0.3.6/pkg
vendor/bundle/ruby/3.2.0/gems/net-imap-0.3.6/rfcs
vendor/bundle/ruby/3.2.0/gems/net-imap-0.3.6/spec/reports
vendor/bundle/ruby/3.2.0/gems/net-imap-0.3.6/tmp
vendor/bundle/ruby/3.2.0/gems/net-imap-0.3.6/Gemfile.lock

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/net-pop-0.1.2/.gitignore
vendor/bundle/ruby/3.2.0/gems/net-pop-0.1.2/.bundle
vendor/bundle/ruby/3.2.0/gems/net-pop-0.1.2/.yardoc
vendor/bundle/ruby/3.2.0/gems/net-pop-0.1.2/_yardoc
vendor/bundle/ruby/3.2.0/gems/net-pop-0.1.2/coverage
vendor/bundle/ruby/3.2.0/gems/net-pop-0.1.2/doc
vendor/bundle/ruby/3.2.0/gems/net-pop-0.1.2/pkg
vendor/bundle/ruby/3.2.0/gems/net-pop-0.1.2/spec/reports
vendor/bundle/ruby/3.2.0/gems/net-pop-0.1.2/tmp
vendor/bundle/ruby/3.2.0/gems/net-pop-0.1.2/**/Gemfile.lock

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/.gitignore
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/*.gem
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/*.rbc
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/.bundle
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/.config
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/.yardoc
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/Gemfile.lock
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/InstalledFiles
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/_yardoc
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/coverage
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/doc
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/lib/bundler/man
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/pkg
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/rdoc
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/spec/reports
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/test/tmp
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/test/version_tmp
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/tmp
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/lib/nio4r_ext.*
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/ext/**/*.o
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/ext/**/nio4r_ext.*
vendor/bundle/ruby/3.2.0/gems/nio4r-2.5.9/**/.rspec_status

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/planetscale_rails-0.1.3/.gitignore
vendor/bundle/ruby/3.2.0/gems/planetscale_rails-0.1.3/.bundle
vendor/bundle/ruby/3.2.0/gems/planetscale_rails-0.1.3/.yardoc
vendor/bundle/ruby/3.2.0/gems/planetscale_rails-0.1.3/_yardoc
vendor/bundle/ruby/3.2.0/gems/planetscale_rails-0.1.3/coverage
vendor/bundle/ruby/3.2.0/gems/planetscale_rails-0.1.3/pkg
vendor/bundle/ruby/3.2.0/gems/planetscale_rails-0.1.3/spec/reports
vendor/bundle/ruby/3.2.0/gems/planetscale_rails-0.1.3/tmp
vendor/bundle/ruby/3.2.0/gems/planetscale_rails-0.1.3/**/*.gem

# rspec failure tracking
vendor/bundle/ruby/3.2.0/gems/planetscale_rails-0.1.3/**/.rspec_status

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/public_suffix-5.0.1/.gitignore
# Bundler
vendor/bundle/ruby/3.2.0/gems/public_suffix-5.0.1/.bundle
vendor/bundle/ruby/3.2.0/gems/public_suffix-5.0.1/Gemfile.lock
vendor/bundle/ruby/3.2.0/gems/public_suffix-5.0.1/pkg/*

# YARD
vendor/bundle/ruby/3.2.0/gems/public_suffix-5.0.1/.yardoc
vendor/bundle/ruby/3.2.0/gems/public_suffix-5.0.1/yardoc

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/rack-proxy-0.7.6/.gitignore
vendor/bundle/ruby/3.2.0/gems/rack-proxy-0.7.6/**/pkg/*
vendor/bundle/ruby/3.2.0/gems/rack-proxy-0.7.6/**/*.gem
vendor/bundle/ruby/3.2.0/gems/rack-proxy-0.7.6/**/.bundle

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/rb-fsevent-0.11.2/.gitignore
vendor/bundle/ruby/3.2.0/gems/rb-fsevent-0.11.2/**/*.gem
vendor/bundle/ruby/3.2.0/gems/rb-fsevent-0.11.2/**/.DS_Store
vendor/bundle/ruby/3.2.0/gems/rb-fsevent-0.11.2/**/.Trashes
vendor/bundle/ruby/3.2.0/gems/rb-fsevent-0.11.2/**/.bundle
vendor/bundle/ruby/3.2.0/gems/rb-fsevent-0.11.2/**/.com.apple.timemachine.supported
vendor/bundle/ruby/3.2.0/gems/rb-fsevent-0.11.2/**/.fseventsd
vendor/bundle/ruby/3.2.0/gems/rb-fsevent-0.11.2/**/.idea
vendor/bundle/ruby/3.2.0/gems/rb-fsevent-0.11.2/**/.rbx
vendor/bundle/ruby/3.2.0/gems/rb-fsevent-0.11.2/ext/build
vendor/bundle/ruby/3.2.0/gems/rb-fsevent-0.11.2/**/Desktop DB
vendor/bundle/ruby/3.2.0/gems/rb-fsevent-0.11.2/**/Desktop DF
vendor/bundle/ruby/3.2.0/gems/rb-fsevent-0.11.2/**/Gemfile.lock
vendor/bundle/ruby/3.2.0/gems/rb-fsevent-0.11.2/**/pkg/*

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/.gitignore
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/*.gem
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/*.rbc
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/.bundle
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/.config
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/.yardoc
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/Gemfile.lock
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/InstalledFiles
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/_yardoc
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/coverage
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/doc
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/lib/bundler/man
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/pkg
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/rdoc
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/spec/reports
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/test/tmp
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/test/version_tmp
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/tmp
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/.tags*
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/**/.rspec_status
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/guard
vendor/bundle/ruby/3.2.0/gems/rb-inotify-0.10.1/listen

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/rubocop-md-1.2.0/.gitignore
vendor/bundle/ruby/3.2.0/gems/rubocop-md-1.2.0/.bundle
vendor/bundle/ruby/3.2.0/gems/rubocop-md-1.2.0/.yardoc
vendor/bundle/ruby/3.2.0/gems/rubocop-md-1.2.0/Gemfile.lock
vendor/bundle/ruby/3.2.0/gems/rubocop-md-1.2.0/Gemfile.local
vendor/bundle/ruby/3.2.0/gems/rubocop-md-1.2.0/_yardoc
vendor/bundle/ruby/3.2.0/gems/rubocop-md-1.2.0/coverage
vendor/bundle/ruby/3.2.0/gems/rubocop-md-1.2.0/doc
vendor/bundle/ruby/3.2.0/gems/rubocop-md-1.2.0/pkg
vendor/bundle/ruby/3.2.0/gems/rubocop-md-1.2.0/spec/reports
vendor/bundle/ruby/3.2.0/gems/rubocop-md-1.2.0/tmp

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/ruby-vips-2.1.4/.gitignore
vendor/bundle/ruby/3.2.0/gems/ruby-vips-2.1.4/**/.yardoc
vendor/bundle/ruby/3.2.0/gems/ruby-vips-2.1.4/**/*.swp
vendor/bundle/ruby/3.2.0/gems/ruby-vips-2.1.4/**/doc
vendor/bundle/ruby/3.2.0/gems/ruby-vips-2.1.4/**/pkg/*.gem

# skip Gemfile.lock since this is a gem
vendor/bundle/ruby/3.2.0/gems/ruby-vips-2.1.4/**/Gemfile.lock

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/simplecov-html-0.12.3/.gitignore
vendor/bundle/ruby/3.2.0/gems/simplecov-html-0.12.3/**/.rvmrc
vendor/bundle/ruby/3.2.0/gems/simplecov-html-0.12.3/**/.bundle

## MAC OS
vendor/bundle/ruby/3.2.0/gems/simplecov-html-0.12.3/**/.DS_Store

## TEXTMATE
vendor/bundle/ruby/3.2.0/gems/simplecov-html-0.12.3/**/*.tmproj
vendor/bundle/ruby/3.2.0/gems/simplecov-html-0.12.3/**/tmtags

## EMACS
vendor/bundle/ruby/3.2.0/gems/simplecov-html-0.12.3/**/*~
vendor/bundle/ruby/3.2.0/gems/simplecov-html-0.12.3/**/\#*
vendor/bundle/ruby/3.2.0/gems/simplecov-html-0.12.3/**/.\#*

## VIM
vendor/bundle/ruby/3.2.0/gems/simplecov-html-0.12.3/**/*.swp

## RUBYMINE
vendor/bundle/ruby/3.2.0/gems/simplecov-html-0.12.3/**/.idea

## PROJECT::GENERAL
vendor/bundle/ruby/3.2.0/gems/simplecov-html-0.12.3/**/coverage
vendor/bundle/ruby/3.2.0/gems/simplecov-html-0.12.3/**/rdoc
vendor/bundle/ruby/3.2.0/gems/simplecov-html-0.12.3/**/pkg
vendor/bundle/ruby/3.2.0/gems/simplecov-html-0.12.3/**/.sass-cache

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/uniform_notifier-1.16.0/.gitignore
vendor/bundle/ruby/3.2.0/gems/uniform_notifier-1.16.0/**/pkg/*
vendor/bundle/ruby/3.2.0/gems/uniform_notifier-1.16.0/**/*.gem
vendor/bundle/ruby/3.2.0/gems/uniform_notifier-1.16.0/**/.bundle
vendor/bundle/ruby/3.2.0/gems/uniform_notifier-1.16.0/**/.rvmrc
vendor/bundle/ruby/3.2.0/gems/uniform_notifier-1.16.0/**/bin
vendor/bundle/ruby/3.2.0/gems/uniform_notifier-1.16.0/**/Gemfile.lock

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/webpacker-5.4.4/.gitignore
vendor/bundle/ruby/3.2.0/gems/webpacker-5.4.4/.bundle
vendor/bundle/ruby/3.2.0/gems/webpacker-5.4.4/pkg
vendor/bundle/ruby/3.2.0/gems/webpacker-5.4.4/test/test_app/log
vendor/bundle/ruby/3.2.0/gems/webpacker-5.4.4/**/node_modules
vendor/bundle/ruby/3.2.0/gems/webpacker-5.4.4/**/.byebug_history
vendor/bundle/ruby/3.2.0/gems/webpacker-5.4.4/test/test_app/tmp
vendor/bundle/ruby/3.2.0/gems/webpacker-5.4.4/**/yarn-debug.log*
vendor/bundle/ruby/3.2.0/gems/webpacker-5.4.4/**/yarn-error.log*
vendor/bundle/ruby/3.2.0/gems/webpacker-5.4.4/**/.yarn-integrity
vendor/bundle/ruby/3.2.0/gems/webpacker-5.4.4/log
vendor/bundle/ruby/3.2.0/gems/webpacker-5.4.4/**/gemfiles/*.lock

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/websocket-1.2.9/.gitignore
vendor/bundle/ruby/3.2.0/gems/websocket-1.2.9/**/Gemfile.lock
vendor/bundle/ruby/3.2.0/gems/websocket-1.2.9/**/autobahn
vendor/bundle/ruby/3.2.0/gems/websocket-1.2.9/**/pkg/*.gem

# flyctl launch added from vendor/bundle/ruby/3.2.0/gems/will_paginate-bootstrap-style-0.2.4/.gitignore
vendor/bundle/ruby/3.2.0/gems/will_paginate-bootstrap-style-0.2.4/**/*.gem
vendor/bundle/ruby/3.2.0/gems/will_paginate-bootstrap-style-0.2.4/**/.bundle
vendor/bundle/ruby/3.2.0/gems/will_paginate-bootstrap-style-0.2.4/**/Gemfile.lock
vendor/bundle/ruby/3.2.0/gems/will_paginate-bootstrap-style-0.2.4/**/pkg/*
vendor/bundle/ruby/3.2.0/gems/will_paginate-bootstrap-style-0.2.4/**/*.swp
fly.toml
